<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des plongées</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    
    <ion-item shape="round" detail="false" button  (click)="ouvrirDetailsPlongee(plongee)" *ngFor="let plongee of plongeeList">
     
      <div class="item-content">
      
      
        Type : {{ plongee[1] }} <br>
        Lieu : {{ plongee[2] }}  <br>  
        Directeur de plongée : {{ plongee[3] }}  {{ plongee[4] }}  
      </div>
      
    </ion-item>
  
  </ion-list>
</ion-content>