<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des plongées</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    
    <ion-item *ngFor="let plongee of plongeeList">
     
      <ion-button shape="round" color="secondary" (click)="ouvrirDetailsPlongee(plongee)">
        {{ plongee[0] }} 
        {{ plongee[7] }}    
        {{ plongee[1] }}  
      </ion-button>
    </ion-item>
  
  </ion-list>
</ion-content>