<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des plongées</ion-title>
    <ion-buttons style="float: right; margin-right: 10px;" *ngIf="connexion.niveau >= 4" class="add" (click)="ouvrirAjoutPlongee()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    
    <ion-item shape="round" detail="false" button  (click)="ouvrirDetailsPlongee(plongee)" *ngFor="let plongee of plongeeList">
     
      <div class="item-content">
      
        Date : {{ plongee[1] }} <br>
        Type : {{ plongee[2] }} <br>
        Lieu : {{ plongee[3] }}  <br>  
        <div class="directeur">
          Directeur de plongée : {{ plongee[4] }}  {{ plongee[5] }}
        </div>
      </div>
  
      
    </ion-item>
  
  </ion-list>
</ion-content>