<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Détails des réservations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">




  <ion-list>
    <ion-list-header>
      <ion-label>Réservations personnelles</ion-label>
    </ion-list-header>
    <ion-item shape="round" detail="false" button  *ngFor="let reservation of reservationsPerso">
      <div class="item-content">
        Type : {{ reservation["description"] }} <br>
      </div>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Réservations du club</ion-label>
    </ion-list-header>
    <ion-item shape="round" detail="false" button  *ngFor="let reservation of reservationsClub">
      <div class="item-content">
        Type : {{ reservation["description"] }} <br>
      </div>
    </ion-item>
  </ion-list>
 
</ion-content>
