<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des secu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    
    <ion-item shape="round" detail="false" button (click)="ouvrirDetailsPlongee(secu)" *ngFor="let secu of secuList">
     
      <div class="item-content">
      
      
        Prénom : {{ secu["prenom"] }} <br>
        Nom : {{ secu["nom"] }}   <br> 
        Mail : {{ secu["mail_redirection"] }}
      </div>
      
    </ion-item>
  
  </ion-list>
</ion-content>