#container a {
    text-decoration: none;
  }
  
  ion-toolbar
  {
    --background : rgb(39, 158, 238);
  }
  ion-title{
    color: white;
  }
  
  ion-button{
    color: white;
  }
  
  .item-content {
    background-color:lightblue;
    margin: 5px;
    padding: 15px;
    border-radius: 25px;
  }
  