<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des gonfleurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    
    <ion-item shape="round" detail="false" button (click)="ouvrirDetailsPlongee(gonfleur)" *ngFor="let gonfleur of gonfleurList">
     
      <div class="item-content">
      
      
        Prénom : {{ gonfleur["prenom"] }} <br>
        Nom : {{ gonfleur["nom"] }}   <br> 
        Mail : {{ gonfleur["mail_redirection"] }}
      </div>
      
    </ion-item>
  
  </ion-list>
</ion-content>
