<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter une plongée</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime pickerFormat="DD/MM/YYYY" [(ngModel)]="from_date" ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Type de plongée</ion-label>
    <ion-select [(ngModel)]="plongeeData.type" placeholder="Select One">
      <ion-select-option value="explo">Exploration</ion-select-option>
      <ion-select-option value="formation">Formation</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item >
    <ion-label>Lieu</ion-label>
    <ion-select [(ngModel)]="plongeeData.lieu" placeholder="Select One" >
      <ion-select-option  value={{lieu[0]}} *ngFor="let lieu of lieuList">{{ lieu[1] }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Directeur de plongée</ion-label>
    <ion-select [(ngModel)]="plongeeData.directeur" okText="Okay" cancelText="Dismiss">
      <ion-select-option  *ngFor="let membreDP of membreDPList" value={{membreDP[0]}}>{{membreDP[1]}} {{membreDP[2]}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Gonfleur</ion-label>
    <ion-select [(ngModel)]="plongeeData.gonfleur" okText="Okay" cancelText="Dismiss">
      <ion-select-option  *ngFor="let gonfleur of gonfleurList" value={{gonfleur[0]}}>{{gonfleur[1]}} {{gonfleur[2]}}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label>Sécurité</ion-label>
    <ion-select  [(ngModel)]="plongeeData.secu" okText="Okay" cancelText="Dismiss">
      <ion-select-option  *ngFor="let secu of secuList" value={{secu[0]}}>{{secu[1]}} {{secu[2]}}</ion-select-option>
    
    </ion-select>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="ajout()" color="danger" expand="block" >Ajouter</ion-button>
    </ion-col>
  </ion-row>


  

 
</ion-content>
