<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Details de la plongée</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <img src="../assets/plongee.jpg"/>
    
    <ion-card-content>
      <ion-card-title>
       Detail de la plonge numero .....****
      </ion-card-title>

      <p>
        Email: Test
        <br/>
        Phone: Test
        <br/>
        Nationality: OMOUK
        <br/>
        City: Robin
        <br/>
        State: La tchoin
        <br/>
        Birth date: 6658965
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>