<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details de la plongée</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <img src="../assets/plongee.jpg"/>
    
    <ion-card-content>
      <ion-card-title>
       Details de la plonge n° {{plongee["id"]}} 
      </ion-card-title>

      <p>
        Date: {{plongee["date_heure"]}} 
        <br/>
        Type: {{plongee["type_plongee"]}} 
        <br/>
        Lieu: {{plongee["adr_commune"]}} 
        <br/>
        DP: {{plongee["prenom"]}} {{plongee["nom"]}}  
        <br/>
        Liste des membres:
      
          
          <ion-list>
            
            <ion-item *ngFor="let membre of membresList">
             
             {{membre["prenom"]}}
             {{membre["nom"]}}
              
              
            </ion-item>
          
          </ion-list>
     
          <ion-button *ngIf="ajoutFunction==true" shape="round" fill="outline" class="shadow-blue" (click)="inscriptionPlongee()">Rejoindre la plongée</ion-button>
          <ion-button  shape="round" fill="outline" class="shadow-blue" (click)="Reservation()">Réserver du MATOS</ion-button>
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>